$color-dark: #0d121f;
$color-dark-500: #1a202c;
$color-dark-400: #212121;

$color-white: #ffffff;
$color-white-100: #F3F5F7;

$color-purple: #7c5cfc;
$color-purple-400: #596780;
$color-purple-300: #90a3bf;
$color-purple-200: #c3d4e9;
